.env
!.env.example

**.log
*.log
*.tmp
*.temp
*.bak
*.swp
*.DS_Store
*.pid
*.pid.lock
*.swo
*.orig  
**/node_modules
**/bower_components
**/dist
**/coverage
**/build
**/vendor
**/public
venv/**
**/tmp
**/cache
fastapi-app/diagnostics/